{{include "../public/html-header"}}
<link href="/css/center.min.css" rel="stylesheet">
{{include "./nav"}}
<div class="banner-container">
    <div class="banner">
        {{if centerBanner.link}}
            <img src="{{centerBanner.link}}" alt="{{chinese ? centerBanner.alt : centerBanner.altEn}}">
        {{else}}
            <img src="//ohnpdrepj.bkt.clouddn.com/%E9%BB%98%E8%AE%A4banner.png" alt="default banner">
        {{/if}}
    </div>
</div>
<div class="project-container">
    {{if channel && channel.length > 0}}
        {{each channel}}
        <div class="project-item">
            <div class="info">
                <div class="title">{{chinese ? $value.title : $value.titleEn}}</div>
                <div class="ctx">{{chinese ? $value.content : $value.contentEn}}</div>
                <a href="/center-detail.html?id={{$value.index}}{{chinese ? "" : "&language=en"}}">{{chinese ? "查看更多" : "Learn more"}}</a>
            </div>
            {{if $value.icon}}
                <div class="img-container"><img src="{{$value.icon.link}}" alt="{{chinese ? $value.icon.alt : $value.icon.altEn}}"></div>
            {{else}}
                <div class="img-container"><img src="//ohnpdrepj.bkt.clouddn.com/%E9%BB%98%E8%AE%A4%E5%9B%BE%E6%A0%87.png" alt="default image"></div>
            {{/if}}
        </div>
        {{/each}}
    {{else}}
        <div class="project-container">{{chinese ? "网页建设中，敬请期待" : "Page in construction, thank you for your patience"}}</div>
    {{/if}}
</div>
{{include "./footer"}}
{{include "../public/html-footer"}}