<link href="/css/footer.min.css" rel="stylesheet">
<div class="footer clear">
    <div class="company">
        <div class="company-title">{{chinese ? "xxxxxxxxxxxxxx" : "Guangzhou Xinshiyu Industry Co.,Ltd"}}</div>
        <div class="company-intro">
            {{chinese ?
                "xxxxxxxxxxxxxxxxxxxxxxxxxx" :
                "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}}</div>
    </div>
    <div class="other">
        <div class="address">{{chinese ?
            "xxxxxxxxxxxxxxxxxxxxxxxx" :
            "Address:xxxxxxxxxxxxxxxxxxxxxxxxx"}}
            </div>
        <div class="friendlink">{{chinese ? "友情链接" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxx"}}<span class="mobile-hidden">{{chinese ? "：xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx " : "xxxxxxxxxxxxxxxxxxxxxxxxxxx" }}</span></div>
        <div class="copyright">xxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
    </div>
</div>
{{include "../public/common-js"}}