@font-face {
  font-family: 'iconfont';  /* project id："" */
  src: url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.eot');
  src: url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
    color: #4a4a4a;
    text-decoration: none;
}

body {
    font-family: "PingFang Sc", "MicroSoft YaHei";
}

a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;-webkit-appearance:none;outline:none;line-height:normal}
button{overflow:visible}
button,select{text-transform:none}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

.clear {
    clear: both;
}.head-container {
  width: 100%;
  background-color: #f7f8f9;
}
@media screen and (min-width: 1191px) {
  .head-container {
    height: 164px;
  }
  .head-container .head {
    width: 1190px;
    height: inherit;
    margin: 0 auto;
  }
  .head-container .head .head-title {
    padding-top: 48px;
    padding-left: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 30px;
    color: #44a8f2;
  }
  .head-container .head .breadcrumbs {
    padding: 10px 0 0 50px;
    font-size: 16px;
  }
  .head-container .head .breadcrumbs span {
    padding: 0 5px;
  }
  .banner-container {
    width: 100%;
    height: 690px;
  }
  .banner-container .banner {
    width: inherit;
    max-height: 690px;
    overflow: hidden;
    text-align: center;
  }
  .banner-container .banner img {
    vertical-align: middle;
  }
  .project-container {
    width: 100%;
    margin-top: 73px;
  }
  .project-container .project-item {
    width: 1190px;
    height: 446px;
    margin: 0 auto;
    padding-bottom: 73px;
  }
  .project-container .project-item .info {
    width: auto;
    float: left;
  }
  .project-container .project-item .info .title {
    text-align: left;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    font-weight: 500;
    width: 373px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .project-container .project-item .info .ctx {
    margin-top: 18px;
    height: 288px;
    width: 373px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18;
    line-height: 28.8px;
  }
  .project-container .project-item .info a {
    width: 145px;
    height: 36px;
    display: block;
    background-color: #44a8f2;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
  }
  .project-container .project-item .info a:hover {
    background-color: #3d96d8;
  }
  .project-container .project-item .info a:active {
    background-color: #3a8ac5;
  }
  .project-container .project-item .img-container {
    float: right;
    width: 655px;
    height: 446px;
    background-color: #f7f8f9;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-container .project-item .img-container img {
    width: 100%;
  }
  .project-container .project-item:nth-child(even) .info {
    float: right;
    text-align: right;
  }
  .project-container .project-item:nth-child(even) .info .title,
  .project-container .project-item:nth-child(even) .info .ctx {
    text-align: right;
  }
  .project-container .project-item:nth-child(even) .info a {
    float: right;
  }
  .project-container .project-item:nth-child(even) .img-container {
    float: left;
  }
}
@media screen and (max-width: 1190px) {
  .banner-container {
    margin-top: 55px;
    height: auto;
  }
  .banner-container .banner {
    width: 100%;
    height: auto;
    display: block;
  }
  .banner-container .banner img {
    width: 100%;
  }
  .head {
    margin-top: 55px;
    width: 100%;
    height: 56.4px;
    line-height: 56.4px;
    text-align: center;
  }
  .head .head-title {
    color: #44a8f2;
    font-size: 24px;
    font-weight: 500;
  }
  .head .breadcrumbs {
    display: none;
  }
  .project-container {
    margin-top: 26px;
    width: 100%;
  }
  .project-container .project-item {
    width: inherit;
    height: auto;
    padding-bottom: 20px;
  }
  .project-container .project-item .info {
    float: initial;
    width: 100%;
  }
  .project-container .project-item .info .title {
    padding-left: 16px;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
  }
  .project-container .project-item .info .ctx {
    width: auto;
    font-size: 15px;
    height: auto;
    padding: 0 16px;
    margin-bottom: 10px;
  }
  .project-container .project-item .info a {
    margin-left: 16px;
    margin-bottom: 10px;
    width: 90px;
    line-height: 36px;
    height: 36px;
    text-align: center;
    display: block;
    background-color: #44a8f2;
    color: #fff;
    font-size: 12px;
  }
  .project-container .project-item .info a:hover {
    background-color: #3d96d8;
  }
  .project-container .project-item .img-container {
    width: auto;
    padding: 0 16px;
    margin-bottom: 16px;
    float: initial;
  }
  .project-container .project-item .img-container img {
    width: 100%;
  }
}
