@font-face {
  font-family: 'iconfont';  /* project id："" */
  src: url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.eot');
  src: url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
    color: #4a4a4a;
    text-decoration: none;
}

body {
    font-family: "PingFang Sc", "MicroSoft YaHei";
}

.clear {
    clear: both;
}@media screen and (min-width: 426px) {
  .footer {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 6%;
    height: 140px;
    background-color: #f7f8f9;
  }
  .footer .company {
    box-sizing: border-box;
    float: left;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding-right: 20px;
    border-right: 1px solid #979797;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 40px;
  }
  .footer .company .company-title {
    font-size: 20px;
    font-weight: 700;
  }
  .footer .company .company-intro {
    padding-top: 14px;
    font-size: 14px;
  }
  .footer .other {
    box-sizing: border-box;
    float: left;
    width: 48%;
    height: 100%;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
  }
  .footer .other .address,
  .footer .other .friendlink {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background-color: #f7f8f9;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footer .company {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footer .company .company-title {
    font-size: 16px;
    font-weight: 700;
  }
  .footer .company .company-intro {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    font-size: 14px;
  }
  .footer .other {
    padding-top: 6px;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
  }
  .footer .other .mobile-hidden {
    display: none;
  }
  .footer .other .address {
    padding-bottom: 6px;
  }
  .footer .other .friendlink,
  .footer .other .copyright {
    display: inline-block;
  }
}
