@font-face {
  font-family: 'iconfont';  /* project id："" */
  src: url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.eot');
  src: url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8mwzmjwmaavy4x6r.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
    color: #4a4a4a;
    text-decoration: none;
}

body {
    font-family: "PingFang Sc", "MicroSoft YaHei";
}

a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;-webkit-appearance:none;outline:none;line-height:normal}
button{overflow:visible}
button,select{text-transform:none}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

.clear {
    clear: both;
}
.index-swiper-container {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.index-swiper-container .index-swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
@media screen and (min-width: 1191px) {
  .index-swiper-container {
    height: 678px;
    text-align: center;
  }
  .index-swiper-container .img-pc {
    height: 678px;
  }
  .swiper-container-moblie {
    display: none;
  }
  .index-intro {
    text-align: center;
    height: 400px;
  }
  .index-intro .index-intro-title {
    color: #44a8f2;
    padding-top: 60px;
    font-size: 24px;
    font-weight: 700;
  }
  .index-intro .index-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index-intro .index-card .index-card-item {
    padding-top: 40px;
    width: 240px;
    height: 224px;
  }
  .index-intro .index-card .index-intro-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
  }
  .index-intro .index-card .index-card-itemtitle {
    margin-top: 20px;
    font-size: 20px;
  }
  .index-intro .index-card .index-card-itemtext {
    margin-top: 20px;
    font-size: 14px;
    white-space:pre-wrap;
  }
  .index-intro:nth-child(2n) {
    background-color: #44a8f2;
    color: #fff !important;
  }
  .index-intro:nth-child(2n) .index-intro-title,
  .index-intro:nth-child(2n) .index-intro-icon,
  .index-intro:nth-child(2n) .index-card-itemtext,
  .index-intro:nth-child(2n) .index-card-itemtitle {
    color: #fff !important;
  }
  .index-map {
    width: 100%;
    margin-bottom: 40px;
  }
  .index-map .index-map-title {
    color: #44a8f2;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }
  .index-map img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 426px) and (max-width: 1190px) {
  .index-content {
    margin-top: 55px;
  }
  .index-swiper-container {
    height: 678px;
    text-align: center;
  }
  .swiper-container-moblie {
    display: none;
  }
  .index-intro {
    text-align: center;
    height: 400px;
  }
  .index-intro .index-intro-title {
    color: #44a8f2;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 700;
  }
  .index-intro .index-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index-intro .index-card .index-card-item {
    padding-top: 40px;
    width: 240px;
    height: 224px;
  }
  .index-intro .index-card .index-intro-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
  }
  .index-intro .index-card .index-card-itemtitle {
    margin-top: 20px;
    font-size: 20px;
  }
  .index-intro .index-card .index-card-itemtext {
    margin-top: 20px;
    font-size: 14px;
  }
  .index-intro:nth-child(2n) {
    background-color: #44a8f2;
    color: #fff !important;
  }
  .index-intro:nth-child(2n) .index-intro-title,
  .index-intro:nth-child(2n) .index-intro-icon,
  .index-intro:nth-child(2n) .index-card-itemtext,
  .index-intro:nth-child(2n) .index-card-itemtitle {
    color: #fff !important;
  }
  .index-map {
    width: 100%;
  }
  .index-map .index-map-title {
    color: #44a8f2;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }
  .index-map img {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .index-content {
    margin-top: 55px;
  }
  .index-swiper-container {
    height: 573px;
    text-align: center;
  }
  .index-swiper-container .img-moblie {
    height: 573px;
  }
  .swiper-container-pc {
    display: none;
  }
  .index-intro {
    text-align: center;
    height: 628px;
  }
  .index-intro .index-intro-title {
    color: #44a8f2;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 700;
  }
  .index-intro .index-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index-intro:nth-child(2n) {
    background-color: #44a8f2;
    color: #fff !important;
  }
  .index-intro:nth-child(2n) .index-intro-title,
  .index-intro:nth-child(2n) .index-intro-icon,
  .index-intro:nth-child(2n) .index-card-itemtext,
  .index-intro:nth-child(2n) .index-card-itemtitle {
    color: #fff !important;
  }
  .index-intro .index-card .index-card-item {
    padding-top: 40px;
    width: 240px;
    height: 224px;
  }
  .index-intro .index-card a:last-child {
    display: none;
  }
  .index-intro .index-card .index-intro-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    overflow: hidden;
  }
  .index-intro .index-card .index-card-itemtitle {
    margin-top: 20px;
    font-size: 18px;
  }
  .index-intro .index-card .index-card-itemtext {
    margin-top: 30px;
    font-size: 14px;
    white-space:pre-wrap;
  }
  .index-map {
    display: none;
  }
}
