@font-face {
  font-family: 'iconfont';  /* project id 187021 */
  src: url('//at.alicdn.com/t/font_4akz6afg2su1sjor.eot');
  src: url('//at.alicdn.com/t/font_4akz6afg2su1sjor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_4akz6afg2su1sjor.woff') format('woff'),
  url('//at.alicdn.com/t/font_4akz6afg2su1sjor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_4akz6afg2su1sjor.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
    color: #4a4a4a;
    text-decoration: none;
}

body {
    font-family: "PingFang Sc", "MicroSoft YaHei";
}

.clear {
    clear: both;
}.select {
  color: #44a8f2;
}

a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;-webkit-appearance:none;outline:none;line-height:normal;border-color: transparent;border-radius: 0;}
button{overflow:visible}
button,select{text-transform:none}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

@media screen and (min-width: 1191px) {
  .mobile-navbar {
    display: none;
  }
  .pc-navbar {
    display: block;
    position: relative;
    height: 60px;
  }
  .pc-navbar .nav {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    z-index: 200;
    height: 60px;
    box-shadow: 0 0 0 0;
  }
  .pc-navbar .nav .nav-container {
    width: 1190px;
    margin: 0 auto;
    height: inherit;
  }
  .pc-navbar .nav .nav-container .logo {
    height: 42px;
    width: 73px;
    margin-top: 12px;
    margin-bottom: 6px;
    display: block;
    float: left;
  }
  .pc-navbar .nav .nav-container .logo img {
    width: inherit;
    height: inherit;
  }
  .pc-navbar .nav .nav-container .nav-ul {
    margin: 0 0 0 33px;
    height: 60px;
    float: left;
    width: initial;
  }
  .pc-navbar .nav .nav-container .nav-ul .nav-li {
    float: left;
    height: inherit;
    line-height: 60px;
    width: initial;
    padding: 0 10px;
  }
  .pc-navbar .nav .nav-container .nav-ul .nav-li:hover {
    background-color: #f7f8f9;
  }
  .pc-navbar .nav .nav-container .nav-ul .nav-li a {
    color: inherit;
    font-size: 14px;
    font-weight: normal;
  }
  .pc-navbar .nav .nav-container .nav-ul .nav-li:hover {
    color: #44a8f2;
  }
  .pc-navbar .nav .nav-container .search-content {
    float: right;
    height: inherit;
    line-height: 60px;
    position: relative;
  }
  .pc-navbar .nav .nav-container .search-content .search {
    margin: 0;
    width: 290px;
    padding-left: 10px;
    height: 30px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
  }
  .pc-navbar .nav .nav-container .search-content .search:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #44a8f2;
  }
  .pc-navbar .nav .nav-container .search-content a {
    position: absolute;
    right: 8px;
    top: 2px;
    color: rgba(0, 0, 0, 0.4);
  }
  .pc-navbar .nav .nav-container .love {
    padding-left: 40px;
    padding-right: 40px;
    float: right;
    display: block;
    line-height: 60px;
    height: inherit;
    margin-left: 80px;
    font-size: 14px;
    background-color: #44a8f2;
    color: #fff;
  }
  .pc-navbar .nav .nav-container .love-icon {
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 2px;
  }
  .pc-navbar .nav .nav-container .toggle-language {
    margin-left: 100px;
    float: right;
    height: inherit;
    line-height: 60px;
    cursor: default;
    font-size: 14px;
  }
  .pc-navbar .slide-down {
    z-index: 150;
    position: absolute;
    bottom: 10px;
    width: 100%;
    background-color: #f7f8f9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    height: 225px;
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
  }
  .pc-navbar .slide-down a {
    color: #4a4a4a;
  }
  .pc-navbar .slide-down a:hover {
    color: #44a8f2;
  }
  .pc-navbar .slide-down .slide-down-container {
    width: 1190px;
    margin: 0 auto;
  }
  .pc-navbar .slide-down .slide-down-container .item {
    width: 150px;
    float: left;
    margin-right: 50px;
  }
  .pc-navbar .slide-down .slide-down-container .title {
    margin-top: 21px;
    font-size: 18px;
    height: initial;
    color: #44a8f2;
  }
  .pc-navbar .slide-down .slide-down-container ul {
    margin-top: 15px;
  }
  .pc-navbar .slide-down .slide-down-container ul li {
    /*height: 20px;*/
    margin-bottom: 4px;
    font-size: 14px;
  }
  .pc-navbar .slide-down .slide-down-container img {
    width: 382px;
    margin-top: 21px;
    margin-bottom: 30px;
    height: 174px;
    float: right;
  }
}
@media screen and (max-width: 1190px) {
  .pc-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 400;
  }
  .mobile-navbar .nav {
    height: 54px;
    width: inherit;
    line-height: 54px;
    border-bottom: 1px solid #f7f8f9;
    background-color: #fff;
  }
  .mobile-navbar .nav .iconfont {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
  }
  .mobile-navbar .nav .iconfont:active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .mobile-navbar .nav .open-slide-up {
    display: none;
  }
  .mobile-navbar .nav a {
    display: inline-block;
    margin-left: 15px;
    height: 54px;
  }
  .mobile-navbar .nav a img {
    margin-bottom: -6px;
    width: 50px;
    height: 28px;
  }
  .mobile-navbar .mobile-navbar-cover {
    display: inherit;
    background: rgba(0, 0, 0, 0.1);
  }
  .mobile-navbar .slide-down {
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  .mobile-navbar .slide-down .list {
    padding: 10px 0;
    width: 100%;
  }
  .mobile-navbar .slide-down .list .item {
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #44a8f2;
    cursor: default;
  }
  .mobile-navbar .slide-down .list .item a {
    color: inherit;
  }
  .mobile-navbar .slide-down .list .product-slide-down {
    display: none;
  }
  .mobile-navbar .slide-down .list .product-slide-down li {
    cursor: default;
    background-color: #f7f8f9;
    padding-left: 20px;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
  }
  .mobile-navbar .slide-down .love {
    width: 100%;
    background-color: #44a8f2;
    height: 38px;
    color: #fff;
    display: block;
    line-height: 38px;
    text-align: center;
  }
  .mobile-navbar .slide-down .toggle-language {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
  }
  .mobile-navbar .slide-down .search-content a {
    display: block;
  }
  .mobile-navbar .slide-down .search-content .search {
    display: none;
    position: relative;
  }
  .mobile-navbar .slide-down .search-content .search input {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    outline: none;
    outline: none;
    margin: 0;
    resize: none;
    width: 100%;
    padding-left: 10px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
=======
    outline: none;
    font-size: 12px;
>>>>>>> dev
  }
  .mobile-navbar .slide-down .search-content .search input:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #44a8f2;
  }
  .mobile-navbar .slide-down .search-content .search a {
    display: inline-block;
    position: absolute;
    right: 3%;
    top: 3px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
  }
}
@media screen and (min-width: 1191px) {
  .love-container {
    width: 326px;
    display: block;
    height: 100%;
    background-color: #f7f8f9;
    position: fixed;
    right: -340px;
    top: 0;
    z-index: 300;
    overflow: auto;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    box-shadow: -2px 0px 5px 0px rgba(100, 100, 100, 0.2);
  }

  .love-container .title {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #44a8f2;
    font-weight: 400;
    text-align: left;
    margin-bottom: 35px;
    padding-left: 40px;
    position: relative;
  }
  .love-container .title .love-top-back {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: #44a8f2;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    width: 30px;
    text-align: center;
    z-index: 310;
  }
  .love-container .title .love-remove-all {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 12px;
    line-height: 60px;
    height: 60px;
    color: #4a4a4a;
    cursor: pointer;
  }
  .love-container .list {
    width: 100%;
    padding-bottom: 80px;
  }
  .love-container .list .item {
    display: inline-block;
    padding: 10px 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px;
    cursor: default;
  }
  .love-container .list .item:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  .love-container .list .item .img-container {
    float: left;
    width: 68px;
    height: 68px;
    overflow: hidden;
  }
  .love-container .list .item .img-container .img {
    width: 68px;
    height: 68px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #f7f8f9;
  }
  .love-container .list .item .img-container .img img {
    width: 100%;
    vertical-align: middle;
  }
  .love-container .list .item .number {
    width: 210px;
    height: 20px;
    margin-left: 84px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
  }
  .love-container .list .item .name-contaniner {
    width: 210px;
    height: 20px;
    padding-right: 10px;
    margin-left: 84px;
    margin-top: 28px;
  }
  .love-container .list .item .name-contaniner .name {
    font-size: 16px;
    width: 173px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
  }
  .love-container .list .item .name-contaniner a {
    font-size: 18px;
    float: right;
    display: block;
    height: 20px;
    line-height: 20px;
  }
  .love-container .list .item .name-contaniner a:hover {
    color: #3d96d8;
  }
  .love-container .ok {
    width: 326px;
    height: 36px;
    padding: 20px 0;
    background-color: #f7f8f9;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: inherit;
    z-index: 310;
  }
  .love-container .ok a {
    width: 145px;
    height: 36px;
    background-color: #44a8f2;
    color: #fff;
    display: inline-block;
    line-height: 36px;
  }
  .love-container .ok a:hover {
    background-color: #3d96d8;
  }
  .love-container .ok a:active {
    background-color: #3a8ac5;
  }
  .love-container .close {
    width: 15px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 0 15px 15px 0;
    background-color: #f7f8f9;
    position: fixed;
    cursor: pointer;
    box-shadow: 2px 0px 3px 0px rgba(100, 100, 100, 0.2);
    top: 45%;
  }
  .love-container .close:hover {
    box-shadow: 2px 0px 3px 0px rgba(100, 100, 100, 0.3);
  }
  .love-container .close a {
    color: #44a8f2;
  }
  .love-container .close a:hover {
    color: #3d96d8;
  }
  .love-container .close a:active {
    color: #3a8ac5;
  }
}
@media screen and (max-width: 1190px) {
  .love-container {
    display: none;
  }
}
